<%=render "restaurant", restaurant: @restaurant%>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>Rating:
      <%= review.rating %>
    </li>
    <li>
      <%= review.content %>
    </li>
  <% end %>
</ul>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>

<%= link_to "Back to Restaurants", restaurant_path  %>
